* {
  margin-left: 20px;
}

div {
  margin-top: 20px;
  margin-left: 0;
}

span {
  margin-left: 0;
}

.fail {
  color: red;
}

.success {
  color: green;
}

button {
  margin-top: 20px;
  margin-left: 0;
  width: 100px;
}

h1 {
  font-family: "Cantarell Thin";
  margin-left: 0;
}
