* {
    margin-left: 20px;
}

div {
    margin-top: 30px;
}

div, h1, span, button {
    margin-left: 0;
}

button {
    margin-top: 10px;
}

.fail {
    color: red;
}

.dropDown {
    width: 200px;
}